/* #region Root */

body {

    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    font-weight: 400;
    /* background: #F5F7FA; */

    margin: 0%;
}


@font-face {
    font-family: "MyFont";
    src: url("./public/Inter-Font-Family/Inter-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyFont";
    src: url("./public/Inter-Font-Family/Inter-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyFont";
    src: url("./public/Inter-Font-Family/Inter-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyFont";
    src: url("./public/Inter-Font-Family/Inter-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "MyFont";
    src: url("./public/Inter-Font-Family/Inter-Italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* #endregion */

/* Global  */

/* #region Title */
.title {
    font-family: "MyFont", sans-serif;
    font-weight: 600;
    color: #4D4D4D;
    margin: 0;
}

.title--primary {
    font-size: clamp(2rem, 4vw, 4rem);
}


.title--secondary {
    font-size: clamp(1.25rem, 3vw, 2.25rem);
}

/* #endregion*/

/* #region Description */

.description {
    color: #717171;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 20px;
    /* margin: 0%; */
    /* text-align: justify; */
}

.description--secondary {
    font-size: 0.9rem;
    color: #F5F7FA;
    /* letter-spacing: 10px; */

}

/* #endregion*/

/* #region Navigation */

.nav {
    font-family: "MyFont", sans-serif;



}

.nav__link {
    font-weight: 400;
    color: #18191F;
    text-decoration: none;
}

.nav__link--active {
    font-weight: 600;
}

/* #endregion*/

/* #region Button */

.button {
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;

}

.button--primary {
    background: #4CAF4F;
    color: #FFFFFF;
}

.button--big {
    padding: 14px 32px;
    background: #4CAF4F;
    color: #FFFFFF;
}

.button--ghost {
    color: #4CAF4F;
    background: white;
    font-weight: 600;
    margin: 0%;
    padding: 0%;

}

.button--flex {
    display: flex;
    place-items: center;
    gap: 10px;
}

/* #endregion*/

/* #region Extras */
.links {
    text-decoration: none;
    color: none;
}

.vector {
    object-fit: contain;
    aspect-ratio: 1;
    width: 3vw;

}

/* #endregion*/


/* layout  */

/* #region header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;

    max-width: 80vw;
}

.header__nav {
    display: flex;
    gap: 50px;
}

.header__logo {}

.header__actions {
    display: flex;
    gap: 30px;
}

.header__hamburger {
    display: none;
}

/* #endregion */

/* #region hero */
.hero {

    background: #F5F7FA;

}

.hero__wrapper {
    margin: 0 auto;
    max-width: 80vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 96px 30px;
    gap: 80px;
}

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    max-width: 50vw;
    align-items: start;
}


.hero__image {
    object-fit: cover;
}

/* #endregion */

/* #region clients */
.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 30px 30px;
    /* background: #F5F7FA; */
    margin: 0 auto;
    max-width: 80vw;
}



.clients__images {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.clients__logo {
    object-fit: cover;
}

/* #endregion */

/* #region community */
.community {
    text-align: center;
    padding: 10px 30px;
    /* background: #F5F7FA; */
    margin: 0 auto;
    max-width: 80vw;
}

.community__maincontent {
    max-width: 30vw;
    margin: 0 auto;
}

.community__sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.community__subcontent {
    max-width: 15vw;
}

/* #endregion */


/* #region information */
.information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /* background: #F5F7FA; */
    margin: 0 auto;
    max-width: 80vw;
}

.information__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    /* max-width: 50vw; */
}

/* #endregion */

/* #region nabi */
.nabi {

    background: #F5F7FA;


}

.nabi__wrapper {
    margin: 0 auto;
    max-width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    margin-block: 40px;
    padding: 40px;
}

.nabi__head {
    grid-column: span 2;
    grid-row: span 2;
    max-width: 28.2vw;

}

.nabi__list {

    grid-column: 3/span 2;
    grid-row: 1/span 2;
    display: grid;
    grid-template-areas: "set1 set2" "set3 set4";
    gap: 40px;
}


.nabi__item1 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    grid-area: "set1";
}

.nabi__item2 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    grid-area: "set2";
}

.nabi__item3 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    grid-area: "set3";
}

.nabi__item4 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    grid-area: "set4";
}

.nabi__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

/* #endregion */

/*#region Tesla*/
.tesla {
    background: #F5F7FA;
}

.tesla__wrapper {
    display: flex;
    gap: 64px;
    margin: 0 auto;
    max-width: 80vw;
    padding-block: 32px;
    margin-block: 32px;
}

.tesla__image {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.tesla__content {}

.tesla__client {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

/* #endregion */

/* #region blog */
.blog {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 15vh auto;
    max-width: 80vw;
}

.blog__main {
    max-width: 45vw;
}

.blog__content {
    display: flex;
    gap: 20px;


}

.blog__sub {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;

}

.blog__image {
    border-radius: 8px;
    width: 90%;
    height: auto;
    object-fit: cover;
}

.blog__text {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    place-items: center;
    max-width: 17vw;
    background: white;
    box-shadow: 0px 8px 16px 0px #ABBED166;
    padding-inline: 16px;
    font-weight: 600;
    position: absolute;
    top: 67%;
}

/* #endregion */

/* #region footer */
.footer {}


.footer__main {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 32px 0;
    gap: 32px;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;


}

.footer__sub {
    background-color: #263238;

}

.footer__subwrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 80vw;
    padding-block: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.footer__subcontent1 {
    grid-column-start: 1/ 3;

    display: flex;
    flex-direction: column;

    gap: 40px;
}

.footer__subcontent2 {
    grid-column-start: 2;
    padding: 0%;
    display: flex;
    gap: 24px;
}

.footer__subcontent3 {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
}


.footer_sublinks {
    display: flex;
    gap: 10px;
}

.footer__links {
    color: #F5F7FA;
    list-style: none;
    padding: 5px;
}

.footer__head {
    font-weight: 600;
    padding-bottom: 20px;
    color: #F5F7FA;
    font-size: 1.5rem;
    list-style: none;
    margin: 0%;
}

.footer__input {
    background: #515b60;
    position: relative;
    border: none;
    border-radius: 8px;
    padding: 15px 10px;
    width: 80%;
    color: #D9DBE1;
}

.footer__input::placeholder {
    color: #D9DBE1;
}

.footer__button {
    background: none;
    border: none;
    position: absolute;
    /* transform: translate(-60px, 5px); */
    right: 60px;
    top: 70px;
    cursor: pointer;
}

/* #endregion */

/* Responsive */

@media screen and (max-width:992px) {

    /*#region Header*/

    .header {}

    .header__nav {
        display: none;
    }

    .header__logo {}

    .header__actions {
        display: none;
    }

    .header__hamburger {
        display: block;
    }

    /* #endregion */


    /*#region Hero*/

    .hero {}

    .hero__wrapper {
        flex-direction: column-reverse;
    }

    .hero__text {
        max-width: 80vw;
        align-items: center;
        text-align: justify;
    }

    .hero__image {}

    /* #endregion */


    /*#region Clients*/

    .clients {
        text-align: justify;
    }

    .clients__images {}

    .clients__logo {}

    /* #endregion */


    /*#region Community*/

    .community {}

    .community__maincontent {
        max-width: 80vw;
    }

    .community__sub {
        flex-direction: column;
    }

    .community__subcontent {
        max-width: 50vw;
    }

    /* #endregion */


    /*#region Information*/

    .information {
        flex-direction: column;
    }

    .information__content {
        text-align: justify;
        /* justify-content: center; */
        align-items: center;
        max-width: 70vw;
    }

    /* #endregion */


    /*#region Nabi*/

    .nabi {}

    .nabi__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        place-items: center;

    }

    .nabi__head {
        max-width: 60vw;
    }

    .nabi__list {
        grid-column: 1/span 2;
        grid-row: 3/span 2;
        /* grid-template-areas: "set1 ""set2" "set3"" set4"; */
    }

    .nabi__item1 {}

    .nabi__item2 {}

    .nabi__item3 {}

    .nabi__item4 {}

    .nabi__text {}

    /* #endregion */


    /*#region Tesla*/

    .tesla {}

    .tesla__wrapper {
        flex-direction: column;
    }

    .tesla__image {}

    .tesla__content {}

    .tesla__client {
        flex-direction: column;
        align-items: center;
    }

    /* #endregion */


    /*#region Blog*/

    .blog {}

    .blog__main {
        text-align: justify;
        max-width: 100vw;
    }

    .blog__content {
        flex-direction: column;
        gap: 160px;
    }

    .blog__sub {}

    .blog__image {}

    .blog__text {
        max-width: 50vw;
    }

    /* #endregion */


    /*#region Footer*/

    .footer {}

    .footer__main {
        /* text-align: left; */
        max-width: 80vw;
    }

    .footer__sub {}

    .footer__subwrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .footer__subcontent1 {
        grid-column: 1;
        grid-row: 1;
    }

    .footer__subcontent2 {
        grid-column: 1;
        grid-row: 2;
    }

    .footer__subcontent2>ul {
        padding: 0%;
    }

    .footer__subcontent3 {
        grid-column: 1;
        grid-row: 3;
    }

    .footer_sublinks {}

    .footer__links {}

    .footer__head {}

    .footer__input {}

    .footer__button {}

    /* #endregion */
}